.formHolder {
    padding: 1rem 0;
}

.inputHolder {
    margin-top: 0.6rem;
}

.inputHolder {
    border: 1px solid lightgray;
    padding: 0.6rem;
    transition: all .3s ease;
    box-shadow: 0px 0px 6px 0px #d3d3d3ba;
}

.inputHolder:focus-within {
    border-color: #80008099;
    box-shadow: none;
}

.inputHolder input {
    border: none;
    outline: none;
    width: 100%;
}
