@import url( 'https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

ul li{
    list-style: none;
}

a{
    text-decoration: none !important;
}

.sectionText--large{
    font-size: 3rem
}

.sectionText--mid{
    font-size: 1.2rem;
}

.sectionHeight--short{
    min-height: 40vh;
}

.sectionText{
    font-size: .9rem;
}

.sectionText--small{
    font-size: .8rem;
}

.textIsWhite {
    color: #fff;
}

.textIsPurple{
    color: purple;
}

.textIsBlack{
    color: #000000cf !important;
}

.alignOnly{
    display: flex;
    align-items: center;
}

.vAlign{
    text-align: center;
}

.center{
        display: flex;
        align-items: center;
        justify-content: center;
}

.spaceBetween{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sectionHeight--mid{
    min-height: 65vh;
}

.sectionHeight{
    min-height: 70vh;
}

.sectionHead--mid{
    font-size: 1.5rem
}

.defaultBtn--white {
    border: 1px solid #fff;
    padding: 0.7rem 0;
    background: transparent;
    width: 180px;
    color: #fff;
    transition: all 0.5s ease;
        border-radius: 5px;
}

.defaultBtn--white:hover{
    background-color: #fff;
    color: purple;
}

.defaultBtn--trans{
        border: 1px solid purple;
        padding: 0.4rem 0;
        background: transparent;
        width: 130px;
        color: purple;
        transition: all 0.5s ease;
            border-radius: 5px;
}

.defaultBtn {
    border: none;
    padding: 0.5rem;
    background: purple;
    min-width: 130px;
    color: #fff;
    transition: all 0.5s ease;
    box-shadow: 0px 0px 5px 0px #4e2e5f94;
    border-radius: 5px;
}

.react-tabs__tab-list {
    border: none;
    text-align: center;
}

.react-tabs__tab {
    color: gray;
    transition: color 0.3s ease;
}

.react-tabs__tab--selected {
    background: none;
    border: none;
    color: black;
    font-weight: bolder;
}

.react-tabs__tab--selected::before {
    content: '';
    width: 8px;
    height: 8px;
    background-color: purple;
    position: absolute;
    bottom: 0;
    border-radius: 30px;
    left: 40%;
}

.clickable{
    cursor: pointer;
}

@media (max-width: 768px) {
    .sectionText--large {
        font-size: 2rem
    }

    .mBlock{
        display: block;
    }
}
