.header{
    background-color: #fff;
    min-height: 10vh;
    padding: .3rem;
    box-shadow: 0px 0px 7px #e4c8ff;
}

.header{
    min-height: 8vh;
}

.actionHolder{
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.icon{
    transition: all .3s ease;
}

.icon.active{
    transform: rotate(180deg);
}

.dropdown{
       background: #f9f7f7;
       width: 100%;
       opacity: 0;
       visibility: hidden;
       position: absolute;
       top: 2.5rem;
       border-radius: 5px;
       left: -3rem;
       transition: all .4s ease;
       box-shadow: -4px 3px 5px #dcc7e4b8;
}

.dropdown.active{
    min-height: 15vh;
    opacity: 1;
    overflow:visible;
    visibility: visible;
}

.caret{
width: 15px;
height: 15px;
background-color: #f9f7f7;
position: relative;
transform: rotate(135deg);
top: -7px;
float: right;
right: 3.5rem;
}

.dropdown .content{
    padding: 0;
    margin-bottom: 0;
}

.content li{
    transition: all .2s ease;
    padding: .5rem 1rem;
        color: purple;
        cursor: pointer;
}

.content li:hover{
    background-color: #d3d3d352;
    font-weight: bolder;
}

@media (max-width:768px) {
    .actionHolder{
        width: 40%;
    }

    .dropdown{
        left: 0;
    }
}