.hero {
    background-image: url('../images/hero.jpg');
    background-repeat: no-repeat;
    min-height: 75vh;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.hero__content{
    width: 70%;
}

.search__inputHolder{
    background-color: #fff;
    width: 80%;
    margin: 0 auto;
    padding: .8rem 1.5rem;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 6px #ba89d257;
    position: relative;
    top: -2rem;
}

.search__inputHolder input {
    border: none;
    border-bottom: 2px solid transparent;
    width: 90%;
    padding: .5rem;
    transition: all .5s ease;
    outline: none;
}

.loader {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 auto;
    border: 3px solid #80008099;
    border-bottom-color: transparent;
    animation-name: spin;
    animation-timing-function: linear;
    animation-duration: .6s;
    animation-iteration-count: infinite;
}

.loader.big{
    width: 180px;
    height: 180px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.authHolder{
    padding: 1.5rem;
}

@media (max-width: 768px) {
    .hero__content{
        width: 100%;
    }

    .search__inputHolder{
        width: 100%;
    }
}