.imgHolder{
    width: 200px;
    border: 1px solid purple;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    top: -3em;
}

.hero {
    background-image: url('../images/hero.jpg');
    background-repeat: no-repeat;
    min-height: 25vh;
    background-size: cover;
    background-position: center;
}
